body{
background-color: #021935;
}

.logo{
    width: 1.2em;
    padding-right: 5px;
    padding-bottom: 7px;
}

.jumbotron{
    background-image: url("https://cdn.discordapp.com/attachments/532791302769737740/786053769409462352/art-2578353.jpg");
    background-size: 100%;
    border: 1px solid silver;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*
    changed from #home to .jumbo-label to allow support across different pages
    added font-weight: bold; to remove <strong> tags for cleaner code
*/
.jumbo-label{
    text-align: center;
    color: #fafafa;
	font-size: 40px;
    font-weight: bold;
	-webkit-text-stroke: 1px #fefefe;
	text-shadow: -1px 0px 3px black,
        -1px 0px 4px black,
        -1px 0px 4px gray,
        1px 1px 4px gray,
        1px 2px 4px black,
        2px 2px 3px black,
        2px 2px 3px black;

}

/*#postHeader {*/
/*    text-align: start;*/
/*    color: #fafafa;*/
/*    font-size: 25px;*/
/*    -webkit-text-stroke: 1px #fefefe;*/
/*    text-shadow: -1px 0px 3px black,*/
/*    -1px 0px 4px black,*/
/*    -1px 0px 4px gray,*/
/*    1px 1px 4px black,*/
/*    1px 2px 4px black,*/
/*    2px 2px 3px black,*/
/*    2px 2px 3px black;*/
/*}*/

.header{
    font-weight: bold;
    text-align: start;
    color: black;
	font-size: 1.8em;
}

.titles{
    font-weight: bold;
    text-align: start;
	font-size: 1.5em;
}

.navbar-brand{
    font-weight: bold;
    color: white;
	font-size: 30px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: -1px 4px 5px black,
        3px 5px 8px black,
        -1px 5px 10px gray;

}

.inline {
    display: inline;
}

#main{
    border: 1px solid silver;
    border-radius: 0.25em;
    background-color: #fefefe;
    padding: 25px;
}

#title{
    text-decoration: none;
    font-family: Impact, sans-serif;
}

#desc{
    font-family: Roboto, sans-serif;
    font-style: italic;
}

#item{
    padding: 20px;
    list-style-type: circle;
}

.letter{
    padding: 3px;
    text-align: start;
    color: #fafafa;
	font-size: 32px;
    -webkit-text-stroke: .5px gray;
	text-shadow: 1px 2px 2px black,
        -1px 1px 1px gray;
}

h2{
    display: inline;
    font-size: 28px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
}

.details{
    opacity: .7;
    text-align: end;
    font-style: italic;
    font-size: 15px;
}

p{
    font-family: Roboto, sans-serif;
}

.comment{
    border: 1px solid silver;
    border-radius: 0.5em;
    padding: 20px;
    margin-top: 45px;
}

#post{
    padding: 15px;
}

.user{
    font-weight: bold;
    font-size: 15px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.body{
    padding-top: 10px;
}

.head{
    padding-bottom: 5px;
}

.home{
    font-size: 25px;
    padding-top: 25px;
}

footer{
    padding-top: 50px;
    font-size: .8em;
    text-align: center;
    color: #fafafa;
}