{% extends 'final/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create Thread</title>
{% endblock %}

{% block jumbotron %}
    <h1 class="display-5 jumbo-label">New Thread</h1>
{% endblock %}

{% block body %}

    <form action="{% url 'create-thread' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <a href="{% url 'index' %}" class="btn btn-secondary inline"><i class="fas fa-arrow-left"></i> Back</a>
            <input type="submit" class="btn btn-success inline" value="Create">
        </div>
    </form>

{% endblock %}