{% extends 'final/base.html' %}

{% block title %}
    <title>Final Project</title>
{% endblock %}

{% block jumbotron %}
    <h1 class="display-5 jumbo-label">Home</h1>
{% endblock %}

{% block body %}

    <ul>
        {% for thread in threads %}
            <li>
                <a href="{% url 'thread' thread.id %}">
                    <h3>{{ thread.title }}</h3>
                </a>
                <p>{{ thread.description }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}