
{% extends 'final/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block jumbotron %}
    <h1 class="display-5 jumbo-label">Home</h1>
{% endblock %}

{% block body %}
    <h2 id="letter">Threads</h2>
    <ul>
        {% for thread in threads %}
            <li id="item">
                <a id="title" href="{% url 'thread' thread.id %}">
                    <h3>{{ thread.title }}</h3>
                </a>
                <p id="desc"class="text-break">{{ thread.description }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}