{% extends 'final/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block jumbotron %}
    <h1 class="display-5 jumbo-label">{{ post.title }}</h1>
{% endblock %}

{% block body %}

    {% if user_is_author is True %}
        <h1>YOU ARE THE AUTHOR OF THIS POST</h1>
    {% endif %}


    <div class="container py-1">
        <div class="row">
            <div class="head col-md-8">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="col-md-4">
                <p class="details">By {{ author.username }}</p>
                <p class="details">{{ post.created_date }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p class="body">{{ post.body }}</p>
            </div>
        </div>
        <hr>
    </div>


    <div class="comment" class="container">
        <div class="head">
            <h2>Comments</h2>
        </div>
        {% for comment in comments %}
            <hr>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p class="user">{{ comment.user.username }}</p>
                        </div>
                        <div class="col-8">
                            <p class="details">{{ comment.created_date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <br>
        {% endfor %}
    </div>

    <a href="{% url 'index' %}"><i class="home fas fa-home"></i></a>

{% endblock %}