{% extends 'final/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block jumbotron %}
    <h1 class="display-5 jumbo-label">{{ post.title }}</h1>
{% endblock %}

{% block body %}

    <a href="{% url 'index' %}">Home</a>

    {% if user_is_author is True %}
        <h1>YOU ARE THE AUTHOR OF THIS POST</h1>
    {% endif %}

    <h2>{{ post.title }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h5>{{ author.username }}</h5>
            </div>
            <div class="col-8">
                <h5>{{ post.created_date }}</h5>
            </div>
        </div>
    </div>

    <p>{{ post.body }}</p>

    <hr>

    <div class="container">
        {% for comment in comments %}
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <h4>{{ comment.user.username }}</h4>
                        </div>
                        <div class="col-8">
                            <h4>{{ comment.created_date }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <p>{{ comment.body }}</p>
                    </div>
                </div>
            </div>

            <br>
            <br>
        {% endfor %}
    </div>

{% endblock %}