{% extends 'final/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block jumbotron %}
    <h1 id="postHeader" class="display-5"><strong>{{ post.title }}</strong></h1>
{% endblock %}

{% block body %}

    <div class="container py-1">
        <div class="row">
            <div id="head" class="col-md-8">
                <h2><span id="letter">{{ post.title }}</span></h2>
            </div>
            <div class="col-md-4">
                <p id="details">By{{ post.user_id }}</p>
                <p id="details">{{ post.created_date }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p id="body">{{ post.body }}</p>
            </div>
        </div>
    </div>


    <div id="comment" class="container">
        <div id="head">
            <h2><span id="letter">Comments</span></h2>
        </div>
        {% for comment in comments %}
            <hr>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p id="user">{{ comment.user_id }}Chase T</p>
                        </div>
                        <div class="col-8">
                            <p id="details">{{ comment.created_date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <br>
        {% endfor %}
    </div>

{% endblock %}